
/*Resets*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
a, :focus {
   outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Style*/
html {
  width: 100%;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 750, color-stop(0%, #B1C939), color-stop(100%, #75B23B));
  background-image: -moz-radial-gradient(top center, circle, #B1C939 0%, #75B23B 750px);
  background-image: radial-gradient(top center, circle, #B1C939 0%, #75B23B 750px);
  padding-top: 10px;
  font-family: Helvetica, sans-serif;
}

#github img{ 
	border: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	}
